<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<?= $baseUrl ?>/view/css/main.css">
    <link rel="stylesheet" type="text/css" href="<?= $baseUrl ?>/view/css/menu.css">
</head>
<body>
    <div id='headmenu'>
        <ul>
            <li>
                <a href='<?= $baseUrl ?>'>
                    Home
                </a>
            </li>
            <li>
                <a href='<?= $baseUrl ?>/dashboard'>
                    Dashboard
                </a>
            </li>
            <li>
                <a href='<?= $baseUrl ?>/login'>
                    Login
                </a>
            </li>
        </ul>
    </div>
